### Hypothesis Testing

Hypothesis testing is a statistical method used to make inferences or draw conclusions about unobserved data

we are using the blood pressure dataset:

In [2]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stest

In [3]:
df = pd.read_csv('blood_pressure.csv')

In [5]:
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [4]:
df[['bp_before', 'bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

In this example, we use a paired sample t-test, which examines the difference between two related variables. It's a univariate test typically applied to data like before-and-after blood pressure measurements for individuals. 
- H₀: means the difference between the two samples is 0

- H₁: means the difference between the two sample is not 0

In [7]:
ttest,pval = stats.ttest_rel(df['bp_before'], df['bp_after'])
print(pval)

0.0011297914644840823

In [8]:
if pval < 0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis