# HYPOTHESIS TESTING SUPERSTORE

In [54]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stest

In [55]:
df = pd.read_csv('Superstore.csv')

In [56]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Unnamed: 17
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,0.000000
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,0.000000
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,United States,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,0.000000
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,430.909875
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,4.473600

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Country/Region  9994 non-null   object
 7   Postal Code     9983 non-null   float64
 8   Region          9994 non-null   object
 9   Product ID      9994 non-null   object
 10  Category        9994 non-null   object
 11  Sub-Category    9994 non-null   object
 12  Product Name    9994 non-null   object
 13  Sales           9994 non-null   float64
 14  Quantity        9994 non-null   int64
 15  Discount        9994 non-null   float64
 16  Profit          9994 non-null   float64
 17  Unnamed: 17     9994 non-null   float64
dtypes: float64(5), int64(2), object(11)
memory usage: 1.4+ MB

In [58]:
del df['Unnamed: 17']

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Country/Region  9994 non-null   object
 7   Postal Code     9983 non-null   float64
 8   Region          9994 non-null   object
 9   Product ID      9994 non-null   object
 10  Category        9994 non-null   object
 11  Sub-Category    9994 non-null   object
 12  Product Name    9994 non-null   object
 13  Sales           9994 non-null   float64
 14  Quantity        9994 non-null   int64
 15  Discount        9994 non-null   float64
 16  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.3+ MB

# Column Quantity dan Profit

H0: Tidak ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan keuntungan ('Profit')

H1: Ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan keuntungan ('Profit')

In [60]:
df[['Quantity','Profit']].describe()
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,United States,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [61]:
ttest, pval = stats.ttest_rel(df['Quantity'], df['Profit'])
print(pval)

3.378577057060209e-26

In [62]:
if pval < alpha:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

KESIMPULAN: karena pvalue > 0.05 maka H0 ditolak dan H1 diterima dengan artian lain ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan rata-rata keuntungan ('Profit')

# Column Quantity dan Discount

H0: Tidak ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan persentase diskon yang diberikan pada pesanan ('Discount')

H1: Ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan persentase diskon yang diberikan pada pesanan ('Discount')

In [63]:
df[['Quantity','Discount']].describe()
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,United States,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [64]:
ttest, pval1 = stats.ttest_rel(df['Quantity'], df['Discount'])
print(pval1)

0.0

In [65]:
if pval1<0.05:
    print("reject null hypothesis")
else:
    print("accpet null hypothesis")

reject null hypothesis

KESIMPULAN: karena pvalue > 0.05 maka H0 ditolak dan H1 diterima dengan artian lain ada perbedaan antara jumlah barang yang dibeli ('Quantity') dan persentase diskon yang diberikan pada pesanan ('Discount')

# Column Discount dan Profit 
H0: Tidak ada perbedaan antara discount dan profit

H1: Ada perbedaan antara discount dan profit

In [66]:
df[['Discount','Profit']].describe()
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,United States,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [67]:
ttest, pval2 = stats.ttest_rel(df['Discount'], df['Profit'])
print(pval2)

8.76197080469636e-34

In [68]:
if pval2<0.05:
    print("reject null hypothesis")
else:
    print("accpet null hypothesis")

reject null hypothesis

KESIMPULAN: karena pvalue > 0.05 maka H0 ditolak dan H1 diterima dengan artian lain ada perbedaan antara discount dan profit

# Column Sales dan Profit 
H0: Tidak ada perbedaan antara total penjualan(sales) dan profit

H1: Ada perbedaan antara total penjualan(sales) dan profit

In [69]:
df[['Sales','Profit']].describe()
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,United States,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,United States,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,United States,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [70]:
ttest, pval3 = stats.ttest_rel(df['Sales'], df['Profit'])
print(pval3)

3.8264152172677997e-274

In [71]:
if pval3<0.05:
    print("reject null hypothesis")
else:
    print("accpet null hypothesis")

reject null hypothesis

KESIMPULAN: karena pvalue > 0.05 maka H0 ditolak dan H1 diterima dengan artian lain ada perbedaan antara total penjualan(sales) dan profit